# Dependências
node_modules/
package-lock.json

# Pastas de build nativo
/ios
/android

# Arquivos de cache e configuração do Expo
.expo/
.expo-shared/

# Variáveis de ambiente
.env

# Arquivos de sistema macOS
.DS_Store
