# Dependências
node_modules/

# Pastas de build nativo
/ios
/android

# Arquivos de cache e configuração do Expo
.expo/
.expo-shared/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env